<nav>
  <div>
    <div> <%= link_to "TESTER", root_path %> |</div>
    <div> <%= link_to "Categorires", admin_categories_path %> </div>
  </div>
  <div>
    <div> <%= link_to "Admin Panel", admin_tests_path %> </div>
    <div> Welcome: <%= link_to current_user.email, admin_user_path(current_user) %> </div>
    <div> <%= link_to "Log Out", destroy_user_session_path, method: :delete %> </div>
  </div>
</nav>
