<div class="container">
  <div class="row ">
    <div class="col"> <%= link_to t(".categorires"), admin_categories_path %> </div>
    <div class="col"> <%= link_to t("rewards.rewards"), admin_rewards_path %> </div>
    <div class="col"> <%= link_to t(".create_new_test"), new_admin_test_path %> </div>
    <div class="col"> <%= link_to t(".create_new_reward"), new_admin_reward_path %> </div>
    <div class="col"> <%= link_to t(".gists"), admin_gists_path %> </div>
  </div>
</div>
