<h3>Name: <%= link_to user.name, user_path(user) %> </h3>

<div> <%= link_to "Edit profile", edit_user_path(user) %> </div>

<div> <%= link_to "Delete User", user_path(user), method: :delete, data: { confirm: "Are you sure?" } %> </div>

<h4>Author of Tests:</h4>
  <table style = "border-collapse: collapse; text-align: center;">

    <%= render "/shared/tests_table_head" %>

    <%= render user.author_tests %>

  </table>

<h4>Passing Tests:</h4>
  <table style = "border-collapse: collapse; text-align: center;">
    
    <%= render "/shared/tests_table_head" %>
    
    <%= render user.tests %>
      
  </table>
