<footer class="navbar gap-3 justify-content-center fixed-bottom py-3 bg-info">
  <span> <%= github_url("gusailov", "tester") %></span>
  <span> 
    <%= link_to "App for create&pass tests (training project)",
                "https://launchschool.com/books/ruby/read/introduction", target: :blank %>
  </span>

  <span> <%= link_to "© Gusailov", "https://github.com/gusailov", target: :blank %> </span>

  <span> <%= current_year %> </span>

   <%= link_to t(".contact_us"), new_contact_path %>
</footer>
