<h3><%= Category.model_name.human %> : <%= link_to category.title, admin_category_path(category) %> </h3>

<span> <%= link_to t("edit"), edit_admin_category_path(category) %> |</span>

<span> <%= link_to t("delete"), admin_category_path(category), method: :delete, data: { confirm: t("confirmation") } %> |</span>

<%= render "/tests/table", tests: category.tests %> 
