<h3><%= Category.model_name.human %> : <%= link_to category.title, admin_category_path(category) %> </h3>

<%= link_to t("edit"), edit_admin_category_path(category),
            class: "btn btn-outline-primary text-dark text-decoration-none m-2" %>

<%= link_to t("delete"), admin_category_path(category),
            class: "btn btn-outline-primary text-dark text-decoration-none m-2",
            method: :delete, data: { confirm: t("confirmation") } %>

<%= render "admin/tests/table", tests: category.tests %> 
