<%= form_with model: @category, local: true do |form| %>
 <%= render "/shared/errors", resource: @category %> 
  
  <p>
    <%= form.label :title %>
    <%= form.text_field :title, id: :category_title %>
  </p>
  
  <p><%= form.submit %></p>

<% end %>