<div class="row justify-content-center">
  <div class="col col-md-4">

    <%= form_with model: [:admin, @test], local: true do |form| %>
      
      <%= render "/shared/errors", resource: @test %> 
      <div class="form-group">
        <p class="mb-3">
          <%= form.label :title %>
          <%= form.text_field :title, class: "form-control" %>
        </p>
        
        <p class="mb-3">
          <%= form.label :level %>
          <%= form.select :level, Test::TEST_LEVELS.invert.to_a, {}, class: "form-select mb-1" %>
        </p>
        
        <p class="mb-3">
          <%= form.label :category_id %>
          <%= form.collection_select :category_id, Category.all, :id,
                                     :title, { prompt: true }, class: "form-select mb-3" %>
        </p>

        <p class="mb-3">
          <%= form.label :countdown %>
          <%= form.select :countdown, (0..60), class: "form mb-1" %>
        </p>
        
        <p><%= form.submit class: "btn btn-primary" %></p>
      </div>

    <% end %>
  </div>
</div>
