<h3>Test: <%= @test.title %> </h3>

<h3>Level: <%= test_level(@test) %> </h3>

<h3>Author: <%= @test.author.name %></h3>

<div>
  <%= link_to "Add question", new_admin_test_question_path(@test) %>  
</div> 

<h4>Questions: </h4>
  <ol>
    <%= render @test.questions %>
  </ol>
