<table style = "border-collapse: collapse; text-align: center;">

<tr >

  <th style = "padding: 0.5rem;" ><%= t(".title") %></th>

  <th style = "padding: 0.5rem;"><%= t(".category") %></th>

  <th style = "padding: 0.5rem;"><%= t(".level") %></th>

  <th style = "padding: 0.5rem;"><%= t(".questions_qty") %></th>

</tr>

<%= render tests %>

</table>