<table class="table table-success table-striped align-middle">
    
  <tr >
    <th scope="col" class="sort-by-title pointer">
      <%= t(".title") %>
      <%= octicon "arrow-up", :class => "d-none" %>
      <%= octicon "arrow-down", :class => "d-none" %>
    </th>
    <th scope="col"><%= t(".category") %></th>
    <th scope="col"><%= t(".level") %></th>
    <th scope="col"><%= t(".questions_qty") %></th>
    <th scope="col"><%= t(".actions") %></th>
  </tr>
 
<%= render tests %>

</table>
