<table class="table table-success table-striped align-middle">
  <thead>
    <tr >

      <th scope="col" ><%= t(".title") %></th>
      <th scope="col"><%= t(".category") %></th>
      <th scope="col"><%= t(".level") %></th>
      <th scope="col"><%= t(".questions_qty") %></th>
      <th scope="col"><%= t(".actions") %></th>

    </tr>
  </thead>

<%= render tests %>

</table>