<tr >

  <td style = "border-right: 1px solid black;padding: 0.5rem;"><%= test.title %></td>

  <td style = "border-right: 1px solid black;padding: 0.5rem;"><%= test.category.title %></td>

  <td style = "border-right: 1px solid black;padding: 0.5rem;"><%= test_level(test) %></td>

  <td style = "border-right: 1px solid black;padding: 0.5rem;"><%= test.questions.count %></td>

  <td style = "border-right: 1px solid black;padding: 0.5rem;"><%= link_to "Show", test_path(test) %></td>

  <td style = "border-right: 1px solid black;padding: 0.5rem;"><%= link_to "Edit", edit_test_path(test) %></td>

  <td style = "border-right: 1px solid black;padding: 0.5rem;">
    <%= link_to "Delete", test_path(test), method: :delete, data: { confirm: "Are you sure?" } %>
  </td>

  <td style = "padding: 0.5rem;"><%= button_to "Start", start_test_path(test) %></td>
</tr>
